<h1 class="mb-3">Edit article</h1>
<%= render "form", article: @article %>
<hr class="my-4">
<%= link_to '<i class="fa-solid fa-arrow-rotate-left"></i> Back'.html_safe, article_path(@article), class: 'text-decoration-none' %>
